$clr-01: #1a1a1a;
$clr-02: #2b8ff4;
$clr-02-1: rgba(43, 143, 244, 0.20);
$clr-03: #ffffff;
$clr-04:#ebedee;
$clr-04-1:#acaeaf;
$clr-05: #191d1f;
$clr-06:#99a9b1;
$clr-07: #7a8388;


$clr-001: rgba(98, 212, 128, 0.2);
$clr-002:rgba(43, 143, 244, 0.2);
$clr-003:rgba(160, 101, 224, 0.2);
$clr-004:rgba(244, 154, 43, 0.2);
$clr-005:rgba(239, 63, 63, 0.2);

