$clr-01: #1a1a1a;
$clr-02: #2b8ff4;
$clr-02-1: rgba(43, 143, 244, 0.20);
$clr-03: #ffffff;
$clr-04:#ebedee;
$clr-04-1:#acaeaf;
$clr-05: #191d1f;


$clr-001: #62d480;
$clr-002:#2b8ff4;
$clr-003:#a065e0;
$clr-004:#f4982b;
$clr-005:#ef3f3f;

$clr-special-grad:linear-gradient(244deg, #a065e0 100%, #2b8ff4);