
@mixin flexS {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin flexC {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin wrapper {
    max-width: 1464px;
    padding:0 48px;
}
@mixin wrapperM {
    max-width: 720px;
    padding:0 24px;
}

