
@mixin flexS {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin flexC {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin wrapper {
    max-width: 1560px;
    padding:0 48px;
}

