
@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,600,700&display=swap');


$f-family: 'Inter','Roboto', sans-serif;

$f-size--main: 16px;
$l-height: 24px;
$f-weight-regular: 400;
$f-weight--medium: 600;
$f-weight-bold: 700;
