.btn{
    font-size:1em;
    height:48px;
    border-radius:5px;
    border:none;
    background: #2b8ff4;
    width:148px;
    cursor: pointer;
    &-primary{
    color:#ffffff;
    width:296px;
    }

    &-light{
    background:rgba(42, 143, 244, 0.2);
    color: #2b8ff4;
    width:406px;
    }
    &-short{
       &--light{
        background: rgba(42, 143, 244, 0.2);
        color:#2b8ff4;
       }
       &--tran{
        background:#ffffff00;
        color:#2b8ff4;
        border:2px solid rgba(42, 143, 244, 0.2);
       }    
    } 
}
@media(min-width: 1577px) {
    .btn{
        &-light{
            width:352px;
        }
    }
}




