
@import '../../assets/scss/all.scss';

.plan{
        max-width: 720px;
        width:100%;
        height: 224px;
        border-radius: 5px;
        background: rgba(43,144,244,1);
        background: -moz-linear-gradient(left, rgba(43,144,244,1) 0%, rgba(137,61,209,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(43,144,244,1)), color-stop(100%, rgba(137,61,209,1)));
        background: -webkit-linear-gradient(left, rgba(43,144,244,1) 0%, rgba(137,61,209,1) 100%);
        background: -o-linear-gradient(left, rgba(43,144,244,1) 0%, rgba(137,61,209,1) 100%);
        background: -ms-linear-gradient(left, rgba(43,144,244,1) 0%, rgba(137,61,209,1) 100%);
        background: linear-gradient(to right, rgba(43,144,244,1) 0%, rgba(137,61,209,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b90f4', endColorstr='#893dd1', GradientType=1 );

        display:flex;
        flex-direction: column;
        padding:32px 24px 24px 24px;
        box-sizing: border-box;
        color:$clr-03;
        margin:24px 0;
      

        &__heading{
                line-height: 32px;
                font-size:1.5em;
                margin: 0;
        }
        &__paragraph{
                font-size:.875em;
                line-height: 24px;
        }

        &__wrap{
                align-self: flex-end;
                margin-top:10px;
                position: relative;
        }
        &__btn{
                width: 123px;
                height: 48px;
                border-radius: 5px;
                background-color: transparent;
                border:none;
                color:$clr-03;
                &--full{
                        background-color: $clr-03;
                        color:transparent

                }
                &--grad{
                        position: absolute;
                        background: rgba(43,144,244,1);
                        background: -moz-linear-gradient(left, rgba(43,144,244,1) 0%, rgba(137,61,209,1) 100%);
                        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(43,144,244,1)), color-stop(100%, rgba(137,61,209,1)));
                        background: -webkit-linear-gradient(left, rgba(43,144,244,1) 0%, rgba(137,61,209,1) 100%);
                        background: -o-linear-gradient(left, rgba(43,144,244,1) 0%, rgba(137,61,209,1) 100%);
                        background: -ms-linear-gradient(left, rgba(43,144,244,1) 0%, rgba(137,61,209,1) 100%);
                        background: linear-gradient(to right, rgba(43,144,244,1) 0%, rgba(137,61,209,1) 100%);
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b90f4', endColorstr='#893dd1', GradientType=1 );
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        left:123px;
                        
                }
        }


}

@media(min-width:1577px) {
        .plan{
                width: 509px;
                height: 248px;
                margin-left: 24px;
                margin: 0;
        }
}