
@import '../../assets/scss/all.scss';

.plan{
        width: 509px;
        height: 248px;
        border-radius: 5px;
        background: rgba(43,144,244,1);
        background: -moz-linear-gradient(left, rgba(43,144,244,1) 0%, rgba(137,61,209,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(43,144,244,1)), color-stop(100%, rgba(137,61,209,1)));
        background: -webkit-linear-gradient(left, rgba(43,144,244,1) 0%, rgba(137,61,209,1) 100%);
        background: -o-linear-gradient(left, rgba(43,144,244,1) 0%, rgba(137,61,209,1) 100%);
        background: -ms-linear-gradient(left, rgba(43,144,244,1) 0%, rgba(137,61,209,1) 100%);
        background: linear-gradient(to right, rgba(43,144,244,1) 0%, rgba(137,61,209,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b90f4', endColorstr='#893dd1', GradientType=1 );
}