@import '../../assets/scss/all.scss';

.wrapper{
    max-width: 720px;
    display: flex;
    flex-direction: column;

   
}
.content{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}
.dot{
    width:5px;
    height: 5px;
    margin:0 2.5px;
    background: $clr-02;
    border-radius: 50%;
}
.dashboard{
    margin-left:24px;
    margin-right: 24px;
    position: relative;
    
  
    &--active{
        margin-right: 0px;
        overflow: hidden;
        height: 1000px;
        &::before{
            content:'';
            height:100%;
            width:100%;
            position: absolute;
            z-index: 10;
            background: rgba(0, 0, 0, 0.164);  
            
        }
    }
    &-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 96px;

        &__wrap{
            width:316px;
            display: flex;
            justify-content: space-between;
        }
        &__heading{
            font-size:1.5em;
        }

        
    }


    //end header
    &-title{
        @include flexS;
        height: 64px;
        background: $clr-03;
        border-radius: 5px;
        margin-bottom: 24px;
        position: relative;
       
        &__dropdown-btn{
            @include flexC;
            width:72px;
            border-left:1px solid $clr-04;
            height: 100%;
            line-height: 24px;
            border-right: none;
            border-top: none;
            border-bottom: none;
            background:$clr-03;
            border-radius: 5px;
            &:hover{
                cursor: pointer;
            }
        }
        &__dropdown-content{
            position: absolute;
            background: $clr-03;
            height: 300px;
            width:300px;
            top:65px;
            right:0px;
            padding:20px;
            box-sizing: border-box;
            ul{
                list-style-type: none;
            }
        }
        &__header{
            margin-left:22px;
            font-size:1em;
            font-weight: $f-weight-regular;
        }
    }

}
@media(min-width: 1577px) {

    .wrapper{
        max-width: 1464px;
    }
    .dashboard{
        margin-left:48px;
        margin-right: 48px;       
    }
    .content{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        
    }
    .span{
        max-width: 1040px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left:24px;
        margin-top:24px;
        margin-bottom: 24px;
    }
    


}