@import '../../assets/scss/all.scss';

.filters{
    height: 475px;
    width:400px;
    background: $clr-03;
    border-radius: 5px;
    margin-bottom: 24px;
    
    &__header{
       
        h3{
            margin: 0;
            font-size:1em;
            font-weight: $f-weight-regular;
            padding:20px 0 20px 24px;
            line-height: 24px;
        }
    }
    &__container{
        padding-left:24px;
        border-top:1px solid $clr-04;
        padding-top:24px;
        box-sizing: border-box;
        height: 315px;
        border-bottom:1px solid $clr-04;
        h4{
            margin:0;
            font-size: 0.75em;
            color:$clr-06;
            padding-bottom: 16px;
           padding-top:10px;
        }
    }
    &__list{
        list-style-type: none;
        margin-bottom: 24px;
        
    }
    &__item{
        font-size: 1em;
        position: relative;
        &:first-child{
            color:$clr-06;
            margin-top:2px;
            input ~ .checkmark{
                height: 16px;
                width:16px;
                border: solid 2px #d0d2d2;
                
            }
        }
        &:nth-child(2){
            margin: 20px 0;
        }
        input{
            margin-right: 10px;
        }
      
        input:checked ~ .checkmark {
            background-color: $clr-02;
            
        }
        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 20px;
            width: 20px;
            background-color: rgb(255, 255, 255);
            border-radius: 2px;
            
          }
          .checkmark:after {
            left: 6px;
            top: 1px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
          }
          input:checked ~ .checkmark:after {
            display: block;
            
          }
          .checkmark:after {
            content: "";
            position: absolute;
            display: none;
            
          }
    }
    &__select{
        width: 352px;
        height: 48px;
        border-radius: 4px;
        border: solid 1px $clr-04;
        font-size: .85em;
        color:$clr-06;
        padding-left: 10px;
    }
    &__button{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 96px;
    }
}