@import './assets/scss/all.scss';

.App{
    display:inline-flex;
    width:100%;
    .container{
        display:flex;
        height: 100%;
        width:100%;
        background:$clr-04;
        flex-direction: column;
        position: relative;
    }
      
}