@import './assets/scss/all.scss';

.App{
    display:inline-flex;
    width:100%;
    
    .container{
        display:flex;
        height: 100%;
        width:100%;
        background:$clr-04;
        flex-direction: column;     
        &--active{
            margin-right: 0px;
            overflow: hidden;
            height: 1000px;
            &::before{
                content:'';
                height:100%;
                width:100%;
                position: absolute;
                z-index: 10;
                background: rgba(0, 0, 0, 0.164);  
                
            }
        } 
    }
      
}